/* Force yellow dice to use black dots */
.die_ffff00.white-dots {
	.die_one { background-position: -40px -1px; }
	.die_two { background-position: -40px -41px; }
	.die_three { background-position: -40px -81px; }
	.die_four { background-position: -40px -121px; }
	.die_five { background-position: -40px -161px; }
	.die_six { background-position: -40px -201px; }
}
