.bgagame-spacebase {
	
.bgagame-spacebase #cardDisp_wrap #ship1 .stockitem, #startCard_wrap .rank1Card {
	background-image: url(space_base/rank1.webp) !important;
}

.bgagame-spacebase #cardDisp_wrap #ship2 .stockitem, #startCard_wrap .rank2Card {
	background-image: url(space_base/rank2.webp) !important;
}

.bgagame-spacebase #cardDisp_wrap #ship3 .stockitem, #colonyCards_wrap .stockitem {
	background-image: url(space_base/rank3.webp) !important;
}

}
