.bgagame-spacebase {

.startingCard {
	background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/spacebase/220324-1406/img/cards_starting.jpg) !important;
}

.rank1Card {
	background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/spacebase/220324-1406/img/cards_rank1.jpg) !important;
}

.rank2Card {
	background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/spacebase/220324-1406/img/cards_rank2.jpg) !important;
}

.rank3andVPCard {
	background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/spacebase/220324-1406/img/cards_rank3_and_vp.jpg) !important;
}

#cardDisp_wrap #ship1 .stockitem, #startCard_wrap .rank1Card {
	background-image: url(space_base/rank1.webp) !important;
}

#cardDisp_wrap #ship2 .stockitem, #startCard_wrap .rank2Card {
	background-image: url(space_base/rank2.webp) !important;
}

#cardDisp_wrap #ship3 .stockitem, #colonyCards_wrap .stockitem {
	background-image: url(space_base/rank3.webp) !important;
}

}
