.bgagame-spacebase .startingCard {
  background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/spacebase/220324-1406/img/cards_starting.jpg) !important;
}

.bgagame-spacebase .rank1Card {
  background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/spacebase/220324-1406/img/cards_rank1.jpg) !important;
}

.bgagame-spacebase .rank2Card {
  background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/spacebase/220324-1406/img/cards_rank2.jpg) !important;
}

.bgagame-spacebase .rank3andVPCard {
  background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/spacebase/220324-1406/img/cards_rank3_and_vp.jpg) !important;
}

.bgagame-spacebase #cardDisp_wrap #ship1 .stockitem, .bgagame-spacebase #startCard_wrap .rank1Card {
  background-image: url(space_base/rank1.webp) !important;
}

.bgagame-spacebase #cardDisp_wrap #ship2 .stockitem, .bgagame-spacebase #startCard_wrap .rank2Card {
  background-image: url(space_base/rank2.webp) !important;
}

.bgagame-spacebase #cardDisp_wrap #ship3 .stockitem, .bgagame-spacebase #colonyCards_wrap .stockitem {
  background-image: url(space_base/rank3.webp) !important;
}
